
    <div class="row">
      <div class="col-md-12">
        <div class="tabbable">
          <div class="tab-content no-border">
            <div class="tab-pane active" id="Dashboard">
              <!-- <h1>Welcome to Admin Dashboard ..!</h1> -->
              <%= render "home_page"%>
            </div>
            <!-- <div class="tab-pane " id="Stores"></div> -->
          </div>
        </div>
      </div>
    </div>
   