
<p id="counter"></p>

<div id="googleMap" style="width:100%;height:500px;"></div>

<script>

var map;
var directionsDisplay;   // For live directions
var directionsService = new google.maps.DirectionsService();   // For live directions

var marker;
var infowindow;
var myCenter=new google.maps.LatLng("<%=@lat%>", "<%=@lng%>");
var last_point;
var start = new google.maps.LatLng(31.528854654816588, 74.28192257881165);
var end = new google.maps.LatLng(31.525727008258347, 74.27833914756775);


function initialize(){
  // For live directions
  directionsDisplay = new google.maps.DirectionsRenderer({suppressMarkers: true});
  
var mapProp = {
  center:myCenter,
  zoom:15,
  mapTypeId:google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById("googleMap"),mapProp);

placeMarker(myCenter);

}
// setTimeout(function(){ calcRoute(start, end) }, 5000);

google.maps.event.addDomListener(window, 'load', initialize);


var myVar = setInterval(function(){ showTimer() }, 1000);








</script>
