<div class="page-sidebar-wrapper">
  <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
  <!-- DOC: Change data-auto-speed="200" to adjust the sub menu slide up/down speed -->
  <div class="page-sidebar navbar-collapse collapse">
    <!-- BEGIN SIDEBAR MENU -->
    <!-- DOC: Apply "page-sidebar-menu-light" class right after "page-sidebar-menu" to enable light sidebar menu style(without borders) -->
    <!-- DOC: Apply "page-sidebar-menu-hover-submenu" class right after "page-sidebar-menu" to enable hoverable(hover vs accordion) sub menu mode -->
    <!-- DOC: Apply "page-sidebar-menu-closed" class right after "page-sidebar-menu" to collapse("page-sidebar-closed" class must be applied to the body element) the sidebar sub menu mode -->
    <!-- DOC: Set data-auto-scroll="false" to disable the sidebar from auto scrolling/focusing -->
    <!-- DOC: Set data-keep-expand="true" to keep the submenues expanded -->
    <!-- DOC: Set data-auto-speed="200" to adjust the sub menu slide up/down speed -->
    <ul class="page-sidebar-menu page-sidebar-menu-closed" data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
      <li class="start active ">
        <a href="/" data-no-turbolink=true>
        <i class="icon-home"></i>
        <span class="title">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="<%=home_playback_path%>" data-no-turbolink=true>
        <i class="icon-basket"></i>
        <span class="title">Playback</span>
        </a>
      </li>
      <li>
        <a href="<%=geo_fences_path%>" data-no-turbolink=true>
        <i class="icon-basket"></i>
        <span class="title">GeoFence</span>
        </a>
      </li>

      <li>
        <a href="<%=admin_devices_path%>" data-no-turbolink=true>
        <i class="icon-basket"></i>
        <span class="title">Device Management</span>
        </a>
      </li>

      <li>
        <a href="<%=admin_notifications_path%>" data-no-turbolink=true>
        <i class="icon-basket"></i>
        <span class="title">Notification Management</span>
        </a>
      </li>
<!--       <li class="last ">
        <a href="javascript:;">
        <i class="icon-pointer"></i>
        <span class="title">Maps</span>
        <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li>
            <a href="maps_google.html">
            Google Maps</a>
          </li>
          <li>
            <a href="maps_vector.html">
            Vector Maps</a>
          </li>
        </ul>
      </li> -->
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
</div>